<h2>Template: Basicos</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <form autocomplete="off" (ngSubmit)="guardar()" #miFormulario="ngForm">
        <!--Campo de nombre del producto-->
        <div class="mb-3 row">
          <label for="producto" class="col-sm-12 col-md-2 col-form-label fw-bold">Producto</label>
          <div class="col-sm-12 col-md-10 col-lg-6">
            <input type="text" class="form-control" id="producto" name="producto" placeholder="Nombre del producto"
              minlength="3" ngModel required>
            <span class="form-text text-danger" *ngIf="(validarInput('producto')?.error)">
              {{validarInput('producto')?.msg}}
            </span>
          </div>
        </div>
        <!--Campo de precio del producto-->
        <div class="mb-3 row">
          <label for="precio" class="col-sm-12 col-md-2 col-form-label fw-bold">Precio</label>
          <div class="col-sm-12 col-md-10 col-lg-6">
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio del producto"
              ngModel required appCustom [minimo]="0">
            <span class="form-text text-danger" *ngIf="(validarInput('precio')?.error)">
              {{validarInput('precio')?.msg}}
            </span>
          </div>
        </div>
        <!--Campo de la existencia del producto-->
        <div class="mb-3 row">
          <label for="existencia" class="col-sm-12 col-md-2 col-form-label fw-bold">Existencias</label>
          <div class="col-sm-12 col-md-10 col-lg-6">
            <input #int type="number" class="form-control" id="existencia" name="existencias"
              placeholder="Existencias del producto" ngModel required appCustom [minimo]="0">
            <span class="form-text text-danger" *ngIf="(validarInput('existencias')?.error)">
              {{validarInput('existencias')?.msg}}
            </span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12 col-lg-8">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h5>Valid</h5>
    <pre>{{miFormulario.valid | json }}</pre>
  </div>
  <div class="col">
    <h5>Printine</h5>
    <pre>{{miFormulario.pristine | json }}</pre>
  </div>
  <div class="col">
    <h5>Touched</h5>
    <pre>{{miFormulario.touched | json }}</pre>
  </div>
  <div class="col">
    <h5>Value</h5>
    <pre>{{miFormulario.value | json}}</pre>
  </div>
</div>
