<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" id="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="nav nav-pills flex-column align-items-stretch p-4 text-center w-100">
      <h3 class="text-center">Template</h3>
      <a class="nav-link" [routerLink]="['/template/basicos']" routerLinkActive="active" (click)="closeMenu()">
        Basicos
      </a>
      <a class="nav-link" [routerLink]="['/template/dinamicos']" routerLinkActive="active" (click)="closeMenu()">
        Dinámicos
      </a>
      <h3 class="text-center mt-4">Reactive</h3>
      <a class="nav-link" [routerLink]="['/reactive/basicos']" routerLinkActive="active" (click)="closeMenu()">
        Basicos
      </a>
      <a class="nav-link" [routerLink]="['/reactive/dinamicos']" routerLinkActive="active" (click)="closeMenu()">
        Dinámicos
      </a>
    </div>
  </div>
</nav>
